{% extends 'panel/home.html' %}
{% block panel %}
<br>
<h3 style="text-align: center;">CADASTRO DA EMPRESA</h3>
<hr>
<br>
<form class="row g-3 text-bg-dark pb-3 rounded" action="{{url_for('cad.empresa')}}" method="POST">
    <div class="col-md-6">
        <label for="nome_empresa" class="form-label">Nome empresa</label>
        <input type="text" class="form-control form-control-sm" id="nome_empresa" name="nome_empresa"
            value="{{cad_empresa.nome_empresa}}" required>
    </div>
    <div class="col-md-6">
        <label for="razao_social" class="form-label">Razão social</label>
        <input type="text" class="form-control form-control-sm" id="razao_social" name="razao_social"
            value="{{cad_empresa.razao_social}}" required>
    </div>
    <div class="col-6">
        <label for="endereco" class="form-label">Endereço</label>
        <input type="text" class="form-control form-control-sm" id="endereco" name="endereco" placeholder="Rua tal, 00"
            value="{{cad_empresa.endereco}}" required>
    </div>
    <div class="col-2">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control form-control-sm" id="bairro" name="bairro" value="{{cad_empresa.bairro}}" required>
    </div>
    <div class="col-md-2">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control form-control-sm" id="cidade" name="cidade" value="{{cad_empresa.cidade}}" required>
    </div>
    <div class="col-md-2">
        <label for="cep" class="form-label">CEP</label>
        <input type="text" class="form-control form-control-sm" id="cep" name="cep" value="{{cad_empresa.cep}}" required>
    </div>
    <div class="col-md-2">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" class="form-control form-control-sm" id="email" name="email" value="{{cad_empresa.email}}" required>
    </div>
    <div class="col-md-2">
        <label for="tel" class="form-label">Telefone</label>
        <input type="text" class="form-control form-control-sm" id="tel" name="tel" value="{{cad_empresa.tel}}" required>
    </div>
    <div class="col-md-2">
        <label for="cnpj" class="form-label">CNPJ</label>
        <input type="text" class="form-control form-control-sm" id="cnpj" name="cnpj" value="{{cad_empresa.cnpj}}" required>
    </div>
    <div class="col-md-3">
        <label for="dt_criacao" class="form-label">Data implantação</label>
        <input type="text" class="form-control form-control-sm" id="dt_criacao" name="dt_criacao" value="{{cad_empresa.dt_criacao}}"
            disabled>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success btn-sm">Atualizar</button>
    </div>
</form>
{% endblock %}