{% extends 'panel/home.html' %}
{% block panel %}
<br>
<h3 style="text-align: center;">CARDÁPIO</h3>
<hr>
<div class="accordion" id="add_produto">
    <div class="accordion-item">
        <h2 class="accordion-header" id="add_produto">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#add_produto-collapseOne" aria-expanded="true" aria-controls="add_produto-collapseOne">
                <h5 class="text-center"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15" height="15"
                        viewBox="0 0 35 35">
                        <path fill-rule="evenodd"
                            d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z">
                        </path>
                    </svg>ADICIONAR</h5>
            </button>
        </h2>
        <div id="add_produto-collapseOne" class="accordion-collapse collapse" aria-labelledby="add_produto">
            <div class="accordion-body text-bg-dark">
                <form class="row g-3 text-bg-dark pb-3 rounded m-1" action="/painel/cardapio/add/1" method="POST"
                    enctype="multipart/form-data">
                    <h4 class="text-center">MONTAR PRODUTO</h4>
                    <button type="button" class="btn btn-primary btn-sm col-md-2" data-bs-toggle="modal"
                        data-bs-target="#cad-itens">
                        Cadastrar itens
                    </button>
                    <hr>
                    <div class="d-flex">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label for="titulo" class="form-label">Titulo</label>
                                <input type="text" class="form-control form-control-sm" id="titulo" name="titulo"
                                    required>
                            </div>
                            <div class="col-md-12">
                                <label for="valor_venda" class="form-label">Valor</label>
                                <input type="number" class="form-control form-control-sm" id="valor_venda"
                                    name="valor_venda" min="1" step="0.01" required>
                            </div>
                            <div class="col-md-12">
                                <label for="descricao" class="form-label">Descrição</label>
                                <textarea class="form-control form-control-sm" id="descricao" rows="2" name="descricao"
                                    required></textarea>
                            </div>
                            <div class="col-md-12">
                                <label for="file">Imagem</label>
                                <input type="file" class="form-control form-control-sm" id="file" autocomplete="off"
                                    name="file">
                            </div>
                            <br>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success btn-sm">Adicionar</button>
                            </div>
                        </div>

                        <div class="accordion accordion-flush col-md-6 m-1 p-1" id="select-itens">
                            <label for="select-itens mb-1">Itens</label>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="select-itens-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#select-itens-collapseOne" aria-expanded="false"
                                        aria-controls="select-itens-collapseOne">
                                        Carnes
                                    </button>
                                </h2>
                                <div id="select-itens-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="select-itens-headingOne" data-bs-parent="#select-itens">
                                    <div class="accordion-body text-bg-dark">
                                        {% for Carnes in item_Carnes %}
                                        <input type="checkbox" name="itens" id="itens" value="{{Carnes.titulo}}">
                                        <label class="form-check-label" for="itens">{{Carnes.titulo}}</label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="select-itens-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#select-itens-collapseTwo" aria-expanded="false"
                                        aria-controls="select-itens-collapseTwo">
                                        Saladas
                                    </button>
                                </h2>
                                <div id="select-itens-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="select-itens-headingTwo" data-bs-parent="#select-itens">
                                    <div class="accordion-body text-bg-dark">
                                        {% for Saladas in item_Saladas %}
                                        <input type="checkbox" name="itens" id="itens" value="{{Saladas.titulo}}">
                                        <label class="form-check-label" for="itens">{{Saladas.titulo}}</label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="select-itens-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#select-itens-collapseThree" aria-expanded="false"
                                        aria-controls="select-itens-collapseThree">
                                        Queijos
                                    </button>
                                </h2>
                                <div id="select-itens-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="select-itens-headingThree" data-bs-parent="#select-itens">
                                    <div class="accordion-body text-bg-dark">
                                        {% for Queijos in item_Queijos %}
                                        <input type="checkbox" name="itens" id="itens" value="{{Queijos.titulo}}">
                                        <label class="form-check-label" for="itens">{{Queijos.titulo}}</label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="select-itens-headingQuarto">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#select-itens-collapseQuarto" aria-expanded="false"
                                        aria-controls="select-itens-collapseQuarto">
                                        Molhos
                                    </button>
                                </h2>
                                <div id="select-itens-collapseQuarto" class="accordion-collapse collapse"
                                    aria-labelledby="select-itens-headingQuarto" data-bs-parent="#select-itens">
                                    <div class="accordion-body text-bg-dark">
                                        {% for Molhos in item_Molhos %}
                                        <input type="checkbox" name="itens" id="itens" value="{{Molhos.titulo}}">
                                        <label class="form-check-label" for="itens">{{Molhos.titulo}}</label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cad-itens" tabindex="-1" aria-labelledby="cad-itensLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content  text-bg-dark">
            <div class="modal-body">
                <form class="row g-3 pb-3 rounded m-1" action="/painel/cardapio/add_item/1" method="POST">
                    <h4 class="text-center">ADICIONAR ITENS</h4>
                    <hr>
                    <div class="col-12">
                        <label for="titulo" class="form-label">Titulo</label>
                        <input type="text" class="form-control form-control-sm" id="titulo" name="titulo" required>
                    </div>
                    <div class="col-6">
                        <label for="valor_venda" class="form-label">Valor Venda</label>
                        <input type="number" class="form-control form-control-sm" id="valor_venda" name="valor_venda"
                            min="0.01" step="0.01" required>
                    </div>
                    <div class="col-6">
                        <label for="valor_custo" class="form-label">Valor Custo</label>
                        <input type="number" class="form-control form-control-sm" id="valor_custo" name="valor_custo"
                            min="0.01" step="0.01" required>
                    </div>
                    <div class="col-12">
                        <label for="file">Tipo</label>
                        <select class="form-select form-select-sm" aria-label="Default select example" id="tipo_item"
                            name="tipo_item" required>
                            <option selected disabled>Escolha o tipo do item</option>
                            <option value="Carnes">Carnes</option>
                            <option value="Saladas">Saladas</option>
                            <option value="Queijos">Queijos</option>
                            <option value="Molhos">Molhos</option>
                        </select>
                    </div>
                    <hr>
                    <div class="col-12">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Voltar</button>
                        <a href="" class="btn btn-primary btn-sm">Ver todos</a>
                        <button type="submit" class="btn btn-success btn-sm">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<br>
<div class="row row-cols-1 row-cols-md-4 g-3">
    {% for produto in allProdutos %}
    <div class="col">
        <div class="card text-bg-dark">
            <img src="../static/img/{{ produto.foto }}" class="card-img-top" alt="...">
            <div class="card-body">
                <form action="/painel/cardapio/cancel/{{produto.id}}" method="POST">
                    <h5 class="card-title font-monospace">{{ produto.titulo }}</h5>
                    <p class="card-text overflow-auto over" style="height: 80px;">{{ produto.descricao }}</p>
                    <h5 class="font-monospace">R$ {{ produto.valor_venda }}</h5>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#{{ produto.id }}">
                        Editar
                    </button>
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('Deseja cancelar o produto {{produto.titulo}}?')">Cancelar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="{{ produto.id }}" tabindex="-1" aria-labelledby="edit-produtoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-bg-dark">
                <div class="modal-header d-block text-center">
                    <h1 class="modal-title fs-5" id="edit-produtoLabel">EDITANDO: {{ produto.titulo }}</h1>
                </div>
                <div class="modal-body">
                    <form action="/painel/cardapio/edit/{{produto.id}}" method="POST" enctype="multipart/form-data">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <input type="image" src="../static/img/{{ produto.foto }}"
                                    class="img-fluid rounded mx-auto d-block" alt="">
                            </div>
                            <div class="col-md-8">
                                <label for="title">Titulo</label>
                                <input type="text" class="form-control form-control-sm" id="titulo" name="titulo"
                                    value="{{ produto.titulo }}" required>
                            </div>
                            <div class="col-md-2">
                                <label for="valor_custo">Vr Custo</label>
                                <input type="text" class="form-control form-control-sm" id="valor_custo"
                                    name="valor_custo" value="{{ produto.valor_custo }}" disabled>
                            </div>
                            <div class="col-md-2">
                                <label for="valor_venda">Vr Venda</label>
                                <input type="text" class="form-control form-control-sm" id="valor_venda"
                                    name="valor_venda" value="{{ produto.valor_venda }}" min="1" step="0.01" required>
                            </div>
                            <div class="col-md-12">
                                <label for="descricao">Observação</label>
                                <textarea class="form-control form-control-sm" id="descricao" name="descricao"
                                    rows="3">{{ produto.descricao }}</textarea>
                            </div>
                            
                            <div class="accordion accordion-flush col-md-12" id="select-itens-edit">
                                <label for="select-itens-edit mb-1">Itens</label>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="select-itens-edit-headingOne">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#select-itens-edit-collapseOne"
                                            aria-expanded="false" aria-controls="select-itens-edit-collapseOne">
                                            Carnes
                                        </button>
                                    </h2>
                                    <div id="select-itens-edit-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="select-itens-edit-headingOne" data-bs-parent="#select-itens-edit">
                                        <div class="accordion-body text-bg-dark">
                                            {% for Carnes in item_Carnes %}
                                            {% if Carnes.titulo in produto.itens %}
                                            <input type="checkbox" name="itens" id="itens" value="{{Carnes.titulo}}"
                                                checked>
                                            {% else %}
                                            <input type="checkbox" name="itens" id="itens" value="{{Carnes.titulo}}">
                                            {% endif %}
                                            <label class="form-check-label" for="itens">{{Carnes.titulo}}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="select-itens-edit-headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#select-itens-edit-collapseTwo"
                                            aria-expanded="false" aria-controls="select-itens-edit-collapseTwo">
                                            Saladas
                                        </button>
                                    </h2>
                                    <div id="select-itens-edit-collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="select-itens-edit-headingTwo" data-bs-parent="#select-itens-edit">
                                        <div class="accordion-body text-bg-dark">
                                            {% for Saladas in item_Saladas %}
                                            {% if Saladas.titulo in produto.itens %}
                                            <input type="checkbox" name="itens" id="itens" value="{{Saladas.titulo}}"
                                                checked>
                                            {% else %}
                                            <input type="checkbox" name="itens" id="itens" value="{{Saladas.titulo}}">
                                            {% endif %}
                                            <label class="form-check-label" for="itens">{{Saladas.titulo}}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="select-itens-edit-headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#select-itens-edit-collapseThree"
                                            aria-expanded="false" aria-controls="select-itens-edit-collapseThree">
                                            Queijos
                                        </button>
                                    </h2>
                                    <div id="select-itens-edit-collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="select-itens-edit-headingThree" data-bs-parent="#select-itens-edit">
                                        <div class="accordion-body text-bg-dark">
                                            {% for Queijos in item_Queijos %}
                                            {% if Queijos.titulo in produto.itens %}
                                            <input type="checkbox" name="itens" id="itens" value="{{Queijos.titulo}}"
                                                checked>
                                            {% else %}
                                            <input type="checkbox" name="itens" id="itens" value="{{Queijos.titulo}}">
                                            {% endif %}
                                            <label class="form-check-label" for="itens">{{Queijos.titulo}}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="select-itens-edit-headingQuarto">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#select-itens-edit-collapseQuarto"
                                            aria-expanded="false" aria-controls="select-itens-edit-collapseQuarto">
                                            Molhos
                                        </button>
                                    </h2>
                                    <div id="select-itens-edit-collapseQuarto" class="accordion-collapse collapse"
                                        aria-labelledby="select-itens-edit-headingQuarto" data-bs-parent="#select-itens-edit">
                                        <div class="accordion-body text-bg-dark">
                                            {% for Molhos in item_Molhos %}
                                            {% if Molhos.titulo in produto.itens %}
                                            <input type="checkbox" name="itens" id="itens" value="{{Molhos.titulo}}"
                                                checked>
                                            {% else %}
                                            <input type="checkbox" name="itens" id="itens" value="{{Molhos.titulo}}">
                                            {% endif %}
                                            <label class="form-check-label" for="itens">{{Molhos.titulo}}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="file">Imagem</label>
                                <input type="file" class="form-control form-control-sm" id="file" autocomplete="off"
                                    name="file">
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-around">
                            <button type="button" class="btn btn-secondary btn-sm"
                                data-bs-dismiss="modal">Voltar</button>
                            <button type="submit" class="btn btn-success btn-sm"
                                onclick="return confirm('Deseja atualizar o produto {{produto.titulo}}?')">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}