{% extends 'layout.html' %}
{% block content %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="" style="padding-right: 60px; text-align: center;">{{ name_company }}</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('panel.home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('panel.pedidos_')}}">Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Cardápio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Cadastros</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="">Empresa</a></li>
                            <li><a class="dropdown-item" href="">Usuários</a></li>
                            <li><a class="dropdown-item" href="">Cardápio</a></li>
                            <li><a class="dropdown-item" href="">Fornecedores</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="">Parametrização</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <h6 style="width: 200px; color: rgb(212, 212, 212); text-align: center; font-size: 13px;">{{date}}</h6>
        <h6 style="width: 200px; color: rgb(212, 212, 212); text-align: center; font-size: 13px;">Bem
            vindo,<br> {{user}}!</h6>
        <a style="margin: 0px 15px;" href="/auth/logout" role="button">Sair</a>
    </nav>
</header>
<main class="container">
    {% block panel %}
    <br>
    <h3 style="text-align: center;">HOME</h3>
    <hr>
    <div class="panel-statement">
        <div class="card text-bg-primary mb-3" style="min-width: 17rem;">
            <div class="card-header text-center">DÉBITO</div>
            <div class="card-body">
                <h5 class="card-title text-center">R$ 5000,00</h5>
                <p class="card-text text-center">Valor inicial do mês atual</p>
            </div>
        </div>
        <div class="card text-bg-success mb-3" style="min-width: 17rem;">
            <div class="card-header text-center">FATURAMENTO</div>
            <div class="card-body">
                <h5 class="card-title text-center">R$ 0,00</h5>
                <p class="card-text text-center">Receitas ganhas no mês atual</p>
            </div>
        </div>
        <div class="card text-bg-danger mb-3" style="min-width: 17rem;">
            <div class="card-header text-center">DESPESAS</div>
            <div class="card-body">
                <h5 class="card-title text-center">R$ -2500,00</h5>
                <p class="card-text text-center">Desepesas do mês atual</p>
            </div>
        </div>
        <div class="card text-bg-dark mb-3" style="min-width: 17rem;">
            <div class="card-header text-center">VALOR FINAL</div>
            <div class="card-body">
                <h5 class="card-title text-center">R$ 2500,00</h5>
                <p class="card-text text-center">Valor total do mês atual</p>
            </div>
        </div>
    </div>
    {% endblock %}
    <hr>
</main>
<footer class="container">
    FOOTER
</footer>
{% endblock %}