{% extends 'panel/home.html' %}
{% block panel %}
<br>
<h3 style="text-align: center;">PEDIDOS</h3>
<hr>
<div class="d-flex justify-content-around flex-wrap">
    {% for pedido in all_pedidos %}
    <table class="printer-ticket m-2">
        <thead>
            <tr>
                <th colspan="3">
                    <b>Cliente: {{ pedido.name_client }}</b> <br>
                    Tel: {{ pedido.tel }} <br>
                    <b>Pedido: #{{ pedido.id }}</b> <br>
                    Data: {{ pedido.order_time }}
                </th>
            </tr>
            <tr>
                <th class="ttu" colspan="3">
                    {% if pedido.situation == 'PENDENTE' %}
                    <b class="situacao bg-danger">PENDENTE</b>
                    {% elif pedido.situation == 'EM ANDAMENTO' %}
                    <b class="situacao bg-success">EM ANDAMENTO</b>
                    {% elif pedido.situation == 'NA ENTREGA' %}
                    <b class="situacao bg-secondary">NA ENTREGA</b>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="top">
                <td colspan="3">Endereço: {{ pedido.address }}</td>
            </tr>
            <tr>
                <td colspan="3">Pagamento:</td>
            </tr>
            <tr>
                <td>Total itens:</td>
                <td>5.0</td>
                <td>R$ 55,00</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="sup ttu p--0">
                <td colspan="3">
                    <b>Totais</b>
                </td>
            </tr>
            <tr class="ttu">
                <td colspan="2">Sub-total</td>
                <td align="right">R$43,60</td>
            </tr>
            <tr class="ttu">
                <td colspan="2">Entrega</td>
                <td align="right">R$4,60</td>
            </tr>
            <tr class="ttu">
                <td colspan="2">Total</td>
                <td align="right">R$45,56</td>
            </tr>
            <tr class="sup">
                <td colspan="3" align="center">
                    <div class="d-flex justify-content-center">
                        {% if pedido.situation == 'PENDENTE' %}
                        <a href="#" class="btn btn-success btn-sm m-1">Preparar</a>
                        {% elif pedido.situation == 'EM ANDAMENTO' %}
                        <a href="#" class="btn btn-success btn-sm m-1">Finalizar</a>
                        {% elif pedido.situation == 'NA ENTREGA' %}
                        <a href="#" class="btn btn-success btn-sm m-1">Finalizar</a>
                        {% endif %}
                        <button type="button" class="btn btn-primary btn-sm m-1" data-bs-toggle="modal"
                            data-bs-target="#{{ pedido.id }}">Detalhes</button>
                        <a href="#" class="btn btn-danger btn-sm m-1">Cancelar</a>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    {% endfor %}
</div>
{% endblock %}