.panel-statement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.panel-order {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}