{% extends 'layout.html' %}
{% block content %}
<title>{{ name_company }}</title>
<header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="">{{ name_company }}</a>
            <form class="d-flex form-control-sm" role="search">
                <input class="form-control me-2 form-control-sm" type="search" placeholder="Procurar..."
                    aria-label="Search">
                <button class="btn btn-success btn-sm" type="submit"><svg id="i-search"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="19" height="19" fill="none"
                        stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <circle cx="14" cy="14" r="12" />
                        <path d="M23 23 L30 30" />
                    </svg></button>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Meu Carrinho</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre Nós</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="container">
    <h1 class="pt-3 mt-5">Cardapio</h1>
    <h6>O melhor restaurante da cidade.</h6>
    <hr>
    <form action="" method="post" class="text-bg-dark p-3 rounded"> <!-- COLOCAR PARA ADICIONAR ITEM NA PROPRIA TELA E TIRAR CARRINHO -->
        <div class="mb-3">
            <label for="name_client" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name_client" name="name_client" required>
        </div>
        <div class="mb-3">
            <label for="items" class="form-label">Itens</label>
            <input type="text" class="form-control" id="items" name="items" required>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="address" name="address" required>
        </div>
        <div class="mb-3">
            <label for="tel" class="form-label">Contato</label>
            <input type="text" class="form-control" id="tel" name="tel" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>

<footer class="container pb-3" style="text-align: center;">
    <hr>
    Direitos reservados de Davi Viana.
</footer>
{% endblock %}